
<div class="container">
  <h2>News Headlines</h2>
  <div class="row">
    <nav class="navbar">
      <input class="form-control" type="text" name="search" [(ngModel)]="filter">      
    </nav>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th (click)="sort('headline')">Headline<i class="fa" *ngIf="key =='headline'" [ngClass]="{'fa-sort-desc':reverse,'fa-sort-asc':!reverse}"></i></th>
          <th (click)="sort('source')">Source<i class="fa" *ngIf="key =='source'" [ngClass]="{'fa-sort-desc':reverse,'fa-sort-asc':!reverse}"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let n of news | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p } ; let i = index">
          <td>{{n.id}}</td>
          <td><a href="{{n.url}}">{{n.headline}}</a></td>
          <td><a href="http://{{n.sourceUrl}}">{{n.source}}</a></td>
        </tr>
      </tbody>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>
  </div>
</div>
